
.git
.gitignore

.env
**/.env

**/node_modules
**/npm-debug.log
**/yarn-error.log

backend/vendor
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views

**/tests
**/*.md
